@import "tailwindcss";

html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020617;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes shell-load {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(320%);
  }
}
